# Files

*
*.*
!.gitattributes
!.gitignore
!*.md

!Makefile
!*.mk

!*.yaml
!*.yml

!*.[ly]
!*.[ch]
!*.cpp
!*.hpp

!*.sy
!*.in
!*.out
!*.a

!*.sh

# Directory
!*/
test2do/
build/
output/
tmp-src/
store/


# Invisible directory
.*/

!.github/

doc/
